<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>

<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<br><br>
<h3 [ngClass]="{'text-danger':propiedades.danger, 'text-info':!propiedades.danger}">
    Hola Mundo
</h3>

<button type="button" class="btn" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info':!propiedades.danger}" (click)="propiedades.danger = !propiedades.danger">Cambiar</button>

<br><br>
<h3>Proceso Asíncrono</h3>
<button type="button" class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  <i class="fa fa-save" [ngClass]="{'fa-save':!loading, 'fa-refresh fa-spin':loading}"></i>
  <span *ngIf="!loading">Guardar Cambios</span>
  <span *ngIf="loading">Espera</span>
</button>